*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: semplicitapro, sans-serif;
  font-style: normal;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

html {
  /* Firefox scroll bar */
  scrollbar-color: #aa857f #1a1312;
}
body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #221917;
  background-color: #fafafc;
}

/* Chrome and Safari scroll bar */
body::-webkit-scrollbar {
  width: 15px;
  background-color: #fafafc;
}
body::-webkit-scrollbar-thumb {
  background-color: #aa857f;
  /* border-radius: 100px;
  border-radius: 10px; */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, #1a1312),
    color-stop(0.99, #aa857f)
  );
}

/* buttons */
body::-webkit-scrollbar-button {
  border-style: solid;
  height: 16px;
  width: 16px;
}
/* up arrow */
body::-webkit-scrollbar-button:vertical:decrement {
  background-color: #aa857f;
  border-color: #aa857f;
}

/* Down */
body::-webkit-scrollbar-button:vertical:increment {
  background-color: #1a1312;
  border-color: #1a1312;
}
body::-webkit-scrollbar-track {
  background-color: #fafafc;
}

html {
  font-size: 62.5%; /* 1rem === 10px, 10px / 16px = 62.5% */
}
@media (max-width: 1199px) {
  html {
    font-size: 56.25%; /* 1rem = 9px, 9/16 = 56.25% */
  }
}
@media (max-width: 1023px) {
  html {
    font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
  }
}
@media (max-width: 600px) {
  html {
    font-size: 43.75%; /* 1rem = 7px, 7/16 = 43.75% */
  }
}

h1 {
  font-size: 17rem;
  line-height: 21rem;
}

h2 {
  font-size: 8rem;
  line-height: 9.6rem;
}

h3 {
  font-size: 4rem;
  line-height: 5.6rem;
}

h4 {
  font-size: 3.4rem;
  line-height: 5rem;
}

h5 {
  font-size: 2.4rem;
  line-height: 4rem;
}

h6 {
  font-size: 2rem;
  line-height: 3.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.small {
  font-size: 1.4rem;
  line-height: 3rem;
}

.legal {
  font-size: 1.2rem;
  line-height: 2.8rem;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
.small::selection,
.legal::selection,
b::selection {
  color: #aa857f;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 60px;
    line-height: 76px;
  }
  h2 {
    font-size: 50px;
    line-height: 66px;
  }
  h3 {
    font-size: 40px;
    line-height: 56px;
  }
  h4 {
    font-size: 30px;
    line-height: 46px;
  }
  h5 {
    font-size: 20px;
    line-height: 36px;
  }
  h6 {
    font-size: 18px;
    line-height: 34px;
  }
  p {
    font-size: 16px;
    line-height: 32px;
  }

  .small {
    font-size: 14px;
    line-height: 30px;
  }

  .legal {
    font-size: 12px;
    line-height: 28px;
  }
}
