*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  /* font-family: Roboto, sans-serif; */
  font-family: semplicitapro, sans-serif;

  font-weight: 400;

  font-style: normal;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -o-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

html {
  /* Firefox scroll bar */
  scrollbar-color: #c4edff #000;
}
body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #000000;
  background-color: #fafafc;
}

/* Chrome and Safari scroll bar */
body::-webkit-scrollbar {
  width: 15px;
  background-color: #fafafc;
}
body::-webkit-scrollbar-thumb {
  background-color: #aa857f;
  /* border-radius: 100px;
  border-radius: 10px; */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.22, #1a1312),
    color-stop(0.99, #aa857f)
  );
}

/* buttons */
body::-webkit-scrollbar-button {
  border-style: solid;
  height: 16px;
  width: 16px;
}
/* up arrow */
body::-webkit-scrollbar-button:vertical:decrement {
  background-color: #aa857f;
  border-color: #aa857f;
}

/* Down */
body::-webkit-scrollbar-button:vertical:increment {
  background-color: #1a1312;
  border-color: #1a1312;
}
body::-webkit-scrollbar-track {
  background-color: #fafafc;
}

html {
  font-size: 62.5%; /* 1rem === 10px, 10px / 16px = 62.5% */
}
@media (max-width: 1199px) {
  html {
    font-size: 56.25%; /* 1rem = 9px, 9/16 = 56.25% */
  }
}
@media (max-width: 1023px) {
  html {
    font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
  }
}
@media (max-width: 600px) {
  html {
    font-size: 43.75%; /* 1rem = 7px, 7/16 = 43.75% */
  }
}
